@model IEnumerable<ExemploAgenda.Domain.Models.Pessoa>
@{
    ViewBag.Title = "Lista de Contato";
}
<h2>@ViewBag.Title</h2>
<p>
    <a href="Pessoa/Create" id="Adicionar" class="btn btn-primary">Adicionar Contato</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SobreNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enderecos)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SobreNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @foreach (var telefone in item.Telefones)
                {

                    @telefone.Numero;<br />

                }
            </td>

            <td>
                @foreach (var endereco in item.Enderecos)
                {
                    @endereco.Logradouro;<br />
                }
            </td>
            <td>
                <a href="/Endereco/Create/@item.IdPessoa">+ Endereço</a>  |
                <a href="/Telefone/Create/@item.IdPessoa">+ Telefone</a>  |
                @Html.ActionLink("Editar", "Edit", new { id = item.IdPessoa }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdPessoa }) |
                @Html.ActionLink("Desativar", "Delete", new { id = item.IdPessoa })
            </td>
        </tr>
    }
</table>
