@model IEnumerable<ExemploAgenda.Domain.Models.Telefone>

@{
    ViewBag.Title = "Lista de Telefone";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdTelefone }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.IdTelefone }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.IdTelefone })*@
        </td>
    </tr>
}

</table>
@Html.ActionLink("Voltar", "Index", "Pessoa")